# This is a basic workflow to help you get started with Actions

name: Pipeline-Linter

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  syntax_check:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs check for all the Jenkins files
      - name: Check JenkinsfileScratchBuildTrigger file
        run: |
          bash ./tests/pipeline_linter.sh -t ${{ secrets.OSCI_JENKINS_2_FEDORAPROJECT }} -f JenkinsfileScratchBuildTrigger

      - name: Check Jenkinsfile file
        run: |
          bash ./tests/pipeline_linter.sh -t ${{ secrets.OSCI_JENKINS_2_FEDORAPROJECT }} -f Jenkinsfile
